# <%= variables.figManaged %>

[alias]
  abrev = !sh -c 'git rev-parse --short ${1-`echo HEAD`}' -

<%- if (variables.gitHubUsername) { -%>
[github]
  username = <%= variables.gitHubUsername %>
<%- } -%>

[user]
<%- if (variables.gitUserEmail) { -%>
	email = <%= variables.gitUserEmail %>
<%- } -%>
<%- if (variables.gitUserName) { -%>
	name = <%= variables.gitUserName %>
<%- } -%>
